<div class="cls1">
    <form >
        <h2 style="text-align: center;">Login</h2>
        <label>User Name: </label>
        <input type="text" name="username" placeholder="Enter Username" [(ngModel)]="username" required><br>
        <label>Password: </label>
        <input type="password" name="password" placeholder="Enter password" [(ngModel)]="password" required><br>
        <button type="button" class="btn btn-primary" style="align-items: center;" (click)="checkAdminData()">Login</button>

    </form>
</div>
