<H2>New Changes<h2>

    <form >
        <h2 style="text-align: center; font-family: Georgia, 'Times New Roman', Times, serif;">Login Form</h2>
        <table class="cls1">
            <tr>
                <td>
                    <label>Account No: </label>
                </td>
                <td>
                    <input type="text" name="accountno" placeholder="Enter Account No" [(ngModel)]="accountno" required><br>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Password: </label>
                </td>
                <td>
                    <input type="password" name="password" placeholder="Enter password" [(ngModel)]="password" required><br>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" class="btn btn-primary" style="align-items: center;" (click)="checkData()">Login</button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary" routerLink="/register">Register</button>
                </td>
            </tr>
        
        </table>
    </form>
